.uk-textarea {
    font-size : 10px;
    height : 160px;
}

textarea {
    overflow-y:scroll;
    height : 100px;
    resize : none;
}

button:disabled {
    color : gray;
    background-color : darkgray;
}

video {
    background-color : rgba(255,255,255,.1)
}